<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuários</title>
</head>
<body>
  <h1>Lista de Usuários</h1>

  <form method="post" th:action="@{./search}">
      <input type="text" name="name"/>
      <button type="submit">Pesquisar</button>
  </form>

  <table>
    <tr><th>Id</th><th>Nome</th><th>Email</th><th>Ações</th></tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <form method="post" th:action="@{./users/delete/{id}(id=${user.id})}">
                <button type="submit">Excluir</button>
            </form>
        </td>
    </tr>
  </table>
  <button><a href="add-user">Novo Usuário</a></button>
</body>
</html>
